{
  "dropbox_path": "/Dropbox/ShapeDevFiles/Moody/UI",
  "target_name": "moody",
  "project_name": "moody",
  "ship_shape_distribution_lists": {
    "SHAPE": [
      "casper@shape.dk",
      "soren@shape.dk",
      "mg@shape.dk",
      "philip@shape.dk",
      "peter@shape.dk",
      "mads@shape.dk",
      "ole@shape.dk",
      "christian@shape.dk"
    ]
  },
  "ship_last_publish_sha": "c0dcc61a91df4e6fe4f14d37ff474e649a9ccd18"
}
